@viewport {
  width: device-width;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0px;
}

/* Color variables */
:root {
  --blau: #badefc;
  --blau-sehr-hell: #ebf6fe;
  --rot: #b5446e;
  --schrift: #525252;
  --schrift-hell: #ababab;
  --weiss: #fff;
}

/* Stylings für den body */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  margin: 0px;
  padding: 0px;
  background: var(--blau-sehr-hell);
}
/* styling für die main-section */
.book-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  margin: 40px;
}

/* Stylings für den Header */
header {
  position: relative;
  height: 174px;
  background: var(--blau-sehr-hell);
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Stylings für die Main */
main {
  background-color: #ebf6fe;
}

/* Styling der Buttons */

#buttons {
  position: absolute;
  right: 5px;
  top: 25px;
  font-family: "Open Sans";
  font-size: 18px;
  color: var(--schrift);
  width: 283px;
  height: 34px;
  margin-right: 46px;
  margin-top: 40px;
}
.menu {
  width: 141px;
  height: 34px;
}

/* Stylings für den Button "Alle Bücher"*/
#btn-all-books {
  background-color: var(--weiss);
  border: 1px solid var(--rot);
  width: 133px;
  height: 34px;
}

#btn-all-books:active {
  background-color: var(--blau);
  border: 1px solid var(--blau);
  width: 133px;
  height: 34px;
}

/* Stylings für den Button "Favoriten" */
#btn-favorites {
  background-color: var(--weiss);
  border: 1px solid var(--rot);
  width: 133px;
  height: 34px;
}
#btn-favorites:active {
  background-color: var(--blau);
  border: 1px solid var(--blau);
  width: 133px;
  height: 34px;
}
.button-color {
  background-color: var(--blau);
  border: 1px solid var(--blau);
  color: #fff;
}

/* Stylings für das anklickbare Logo */
#logo {
  position: absolute;
  left: 5px;
  top: 10px;
  font-family: "Kaushan Script";
  font-size: 32px;
  color: var(--rot);
  margin: 30px 0 0 40px;
}

#logo a {
  text-decoration: none;
  position: absolute;
  left: 5px;
  top: 10px;
  font-family: "Kaushan Script";
  font-size: 32px;
  color: var(--rot);
}

/* CSS-Klassen für die eingebundenen Daten */

/* Einzelansicht */
.container-einzelansicht {
  width: 710px;
  height: 68px;
  background-color: var(--weiss);
}

.titel-einzelansicht {
  font-family: "Open Sans";
  font-size: 32px;
}

.autor-einzelansicht {
  font-family: "Open Sans";
  font-size: 16px;
}

.isbn-einzelansicht {
  font-family: "Open Sans";
  font-size: 16px;
}

.beschreibung-einzelansicht {
  font-family: "Open Sans";
  font-size: 18px;
}

/* Gesamtansicht */
.container-gesamtansicht {
  width: 341px;
  height: 108px;
  background-color: var(--weiss);
  padding: 5px 10px 10px 10px;
  position: relative;
}

.title-gesamtansicht {
  font-family: "Open Sans";
  font-size: 16px;
  color: var(--rot);
}

.beschreibung-gesamtansicht {
  font-family: "Open Sans";
  font-size: 10px;
  color: var(--schrift-hell);
  padding-bottom: 5px;
}

/* Favorisieren-Button Gesamtansicht*/

.button-favorisieren {
  padding: 3px 23px 3px 23px;
  border: 2px solid var(--rot);
  color: var(--rot);
  position: absolute;
  top: 80px;
  background-color: var(--weiss);
}
.button-favorisieren:active {
  border: 2px solid var(--rot);
  background-color: var(--rot);
  color: var(--weiss);
}
